body {
    font-family: 'Fira Code', monospace;
    font-size: large;
}

body.light {
    background-color: #ffffff;
    color: #0c0f11;
}

body.dark {
    background-color: #0c0f11;
    color: #ffffff;
}

.theme-toggle:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

#mobile-menu {
    display: none;
}

#mobile-menu.show {
    display: flex !important;
}

@media (min-width: 768px) {
    #mobile-menu-button {
        display: none;
    }

    #mobile-menu {
        display: none !important;
    }

    nav {
        display: flex !important;
    }
}

.g{
    color:gray;
}